.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)   
    ),
    
    url("https://emploi.wallonie.be/files/IMAGES/actus/1f2a0ce0-quel-ordinateur-portable-pc-et-apple-macbook-choisir__908_512__0-0-2121-1195.jpeg");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgba(212, 56, 56, 0.774);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    
}